{% load static %}
<!-- INICIO FOOTER -->
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 item text">
                    <h3>SINTRAELECOL</h3>
                    <p>Sintraelecol subdirectivas Valle<br>CALI - DAGUA - PALMIRA<br>Carrera 31 No 34 - 32
                        <strong>Palmira</strong><br>Telefax. 2729603 - 317 4327529<br>Carrera 14 No. 11 - 47
                        <strong>Cali</strong></p>
                </div>
                <div class="col-xl-4 item social">
                    <p><strong>SIGUENOS EN REDES SOCIALES</strong></p><a><i class="fab fa-facebook"></i></a><a
                        href="#"><i class="icon ion-social-twitter"></i></a>
                </div>
            </div>
            <p class="copyright"><strong>Desarrollado por BitDeveloper Solutions © 2019</strong></p>
        </div>
    </footer>
</div>
<!-- FIN FOOTER -->
<script src={% static "js/jquery.min.js" %}></script>
<script src={% static "bootstrap/js/bootstrap.min.js" %}></script>
<script src={% static "js/Customizable-Carousel-swipe-enabled.js" %}></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
<script src={% static "js/theme.js" %}></script>
</body>

</html>