{% extends  'base/base.html' %}
{% block  content %}
{% load static %}
<div class="article-list">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">NOTICIAS</h2>
        </div>
        <div class="row articles">
            {% for n  in noticias %}
            <div class="col-sm-6 col-md-4 item"><a href="{% url 'noticias:detalle' n.id %}"><img class="img-fluid" src="{{n.imagen.url}}"></a>
            
                <h3 class="name">{{n.titulo}}</h3>
                <p class="description">{{n.cuerpo|truncatechars_html:100}}<a href="{% url 'noticias:detalle' n.id %}" title="Ir a la Noticia" class="action"><i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>
            {% endfor %}


        </div>
    </div>
</div>
{% endblock %}