{% extends  'base/base.html' %}

{% load static %}

{% block content %}

<main class="page project-page">
    <section class="portfolio-block project" style="height:694px;">
        <div class="heading">
            <h3>COMUNICADOS</h3>
        </div>
        <div class="container">
            <div>
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-1">COMITE
                            LABORAL</a></li>
                    <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-2">COPAST</a></li>
                    <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-3">FRV</a></li>
                    <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-4">PERIODICO
                            RAYO</a></li>
                    <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-5">SALUD</a></li>
                </ul>
                <div class="tab-content" style="height:220px;">
                    <div class="tab-pane" role="tabpanel" id="tab-1" style="width:1144px;">
                        <p>Comite Laboral</p>
                        <div class="col"><i class="icon ion-checkmark-round" style="color:rgb(73,130,88);"></i><a
                                href="#">&nbsp;Acta Comite Laboral Enero 2018</a></div>
                        <div class="col"><i class="icon ion-checkmark-round" style="color:rgb(73,130,88);"></i><a
                                href="#">&nbsp;Acta Comite Laboral Marzo 2018</a></div>
                        <div class="col"><i class="icon ion-checkmark-round" style="color:rgb(73,130,88);"></i><a
                                href="#">&nbsp;Acta Comite Laboral Abril 2018</a></div>
                        <div class="col"><i class="icon ion-checkmark-round" style="color:rgb(73,130,88);"></i><a
                                href="#">&nbsp;Acta Comite Laboral Mayo 2018</a></div>
                        <div class="col"><i class="icon ion-checkmark-round" style="color:rgb(73,130,88);"></i><a
                                href="#">&nbsp;Acta Comite Laboral Julio 2018</a></div>
                        <div class="col"><i class="icon ion-checkmark-round" style="color:rgb(73,130,88);"></i><a
                                href="#">&nbsp;Acta Comite Laboral Septiembre 2018</a></div>
                        <div class="col"><i class="icon ion-checkmark-round" style="color:rgb(73,130,88);"></i><a
                                href="#">&nbsp;Acta Comite Laboral Octubre 2018</a></div>
                        <div class="col"><i class="icon ion-checkmark-round" style="color:rgb(73,130,88);"></i><a
                                href="#">&nbsp;Acta Comite Laboral Noviembre 2018</a></div>
                        <div class="col"><i class="icon ion-checkmark-round" style="color:rgb(73,130,88);"></i><a
                                href="#">&nbsp;Acta Comite Laboral Diciembre 2018</a></div>
                        <div class="col"><i class="icon ion-checkmark-round" style="color:rgb(73,130,88);"></i><a
                                href="#">&nbsp;Acta Comité Laboral Enero 2019</a></div>
                        <div class="col"><i class="icon ion-checkmark-round" style="color:rgb(73,130,88);"></i><a
                                href="#">&nbsp;Acta Comite Laboral Febrero 2019</a></div>
                        <div class="col"><i class="icon ion-checkmark-round" style="color:rgb(73,130,88);"></i><a
                                href="#">&nbsp;Acta Comitè Laboral Junio 29 2018</a></div>
                        <div class="col"><i class="icon ion-checkmark-round" style="color:rgb(73,130,88);"></i><a
                                href="#">&nbsp;Acta Comite Laboral Junio 8 2018</a></div>
                        <div class="col"><i class="icon ion-checkmark-round" style="color:rgb(73,130,88);"></i><a
                                href="#">&nbsp;Acta Comite Laboral Marzo 2019</a></div>
                        <div class="col"><i class="icon ion-checkmark-round" style="color:rgb(73,130,88);"></i><a
                                href="#">&nbsp;Acta Comite Laboral Febrero 2018</a></div>
                        <div class="col"><i class="icon ion-checkmark-round" style="color:rgb(73,130,88);"></i><a
                                href="#">&nbsp;Acta Comite Laboral Marzo 2019</a></div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab-2">
                        <p>Copast</p>
                        <div class="col"></div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab-3">
                        <p>Fondo Rotatorio De Vivienda</p>
                        <div class="col"><i class="fa fa-check"></i><a href="#">&nbsp;ACTA 219 FRV Febrero 26 de
                                2019</a></div>
                        <div class="col"><i class="fa fa-check"></i><a href="#">&nbsp;ACTA 218 FRV Enero 23 de 2019</a>
                        </div>
                        <div class="col"><i class="fa fa-check"></i><a href="#">&nbsp;ACTA 217 FRV Diciembre 13 de
                                2018</a></div>
                        <div class="col"><i class="fa fa-check"></i><a href="#">&nbsp;ACTA 216 FRV Noviembre 19 de
                                2018</a></div>
                        <div class="col"><i class="fa fa-check"></i><a href="#">&nbsp;ACTA 215 FRV Octubre 11 de
                                2018</a></div>
                        <div class="col"><i class="fa fa-check"></i><a href="#">&nbsp;ACTA 214 FRV Sept 24 de 2018</a>
                        </div>
                        <div class="col"><i class="fa fa-check"></i><a href="#">&nbsp;ACTA 213 FRV Agosto 24 de 2018</a>
                        </div>
                        <div class="col"><i class="fa fa-check"></i><a href="#">&nbsp;ACTA 212 FRV Julio 06 de 2018</a>
                        </div>
                        <div class="col"><i class="fa fa-check"></i><a href="#">&nbsp;ACTA 211 FRV Junio 13 de 2018</a>
                        </div>
                        <div class="col"><i class="fa fa-check"></i><a href="#">&nbsp;ACTA 210 FRV Mayo 11 de 2018</a>
                        </div>
                        <div class="col"><i class="fa fa-check"></i><a href="#">&nbsp;ACTA 209 FRV Abril 09 de 2018</a>
                        </div>
                        <div class="col"><i class="fa fa-check"></i><a href="#">&nbsp;ACTA 208 FRV Marzo 09 de 2018</a>
                        </div>
                        <div class="col"><i class="fa fa-check"></i><a href="#">&nbsp;ACTA 207 FRV Febrero 06 de
                                2018</a></div>
                        <div class="col"><i class="fa fa-check"></i><a href="#">&nbsp;ACTA 206 FRV Enero 11 de 2018</a>
                        </div>
                    </div>
                    <div class="tab-pane active" role="tabpanel" id="tab-4">
                        <p>Periodico Rayo</p>
                        <div class="col"><i class="fa fa-check"></i><a href="#">&nbsp;El Rayo 2019 Marzo</a></div>
                        <div class="col"><i class="fa fa-check"></i><a href="#">&nbsp;El Rayo 2018 Octubre</a></div>
                        <div class="col"><i class="fa fa-check"></i><a href="#">&nbsp;El Rayo 2018 Febrero</a></div>
                        <div class="col"><i class="fa fa-check"></i><a href="#">&nbsp;El Rayo 2017 Febrero</a></div>
                        <div class="col"><i class="fa fa-check"></i><a href="#">&nbsp;El Rayo 2017 Agosto</a></div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab-5">
                        <p>Salud</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}