{% extends  'base/base.html' %}

{% load static %}
{% block content %}
<main class="page project-page"></main>
<div class="article-clean">
    <div class="container" style="height:8000px;">
        <div class="row">
            <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                <div class="intro">
                    <h1 class="text-center">HISTORIA SINTRAELECOL</h1><img class="img-fluid"
                        src="assets/img/tech/Planton.jpg">
                </div>
                <div class="text">
                    <p><br>Ya por los años de 1974, los dirigentes Sindicales en Santander, del Sindicato de
                        Trabajadores de la Central Hidroeléctrica del Río Hilebrija, <strong>SINTRAHILEBRIJA</strong>,
                        tenían suficientemente claro, que el Sindicalismo
                        de Industria era la alternativa organizativa y política de los trabajadores colombianos, frente
                        a la unidad de los empleadores y la respuesta a la caducidad, que ya presentaban los sindicatos
                        de empresa o de base. <br></p>
                    <h2><strong>NACE SINTRAELECOL </strong><br></h2>
                    <p><strong>SINTRAELECOL</strong> nace del análisis y de los acuerdos suscritos entre los sindicatos
                        de Centrales Eléctricas de Norte Santander, Sintrahilebrija y trabajadores de la Empresa de
                        Energía de Chiquinquirá y de Interconexión
                        del Nordeste.&nbsp;</p>
                    <p>Aquí debo reconocer, a quien con profunda visión futura, supo concitar a trabajadores de
                        Santander, Norte de Santander y Boyacá, para fundar el 5 de Enero de 1975 a las 9:00 A.M., en la
                        carrera 16 No. 22 - 25 de Bucaramanga, el
                        Sindicato de Trabajadores de la Electricidad de Colombia, <strong>SINTRAELECOL</strong>, al que
                        se le otorgaría la personería jurídica, mediante resolución No. 1983, el 3 de julio de 1975.</p>
                    <p><strong>JUAN BAUTISTA ALVARADO</strong>, no aparece en la lista de los 33 fundadores, pero es sin
                        duda alguna el protagonista indiscutible del mayor éxito histórico que hoy tenemos los
                        trabajadores del sector Eléctrico, que es
                        Sintraelecol y que afortunadamente se constituye en una de las organizaciones sindicales más
                        importantes de Colombia.</p>
                    <p>Fue así, como liderados por Juan Alvarado y con las precauciones pertinentes y el sigilo que
                        exigía la reunión para fundar la organización de industria, se logró desarrollar el evento con
                        trabajadores de tres empresas, dando nacimiento
                        al Sindicato de Industria que se denominó <strong>SINTRAELECOL</strong> y tuvo como fundadores a
                        los siguientes compañeros:&nbsp;</p>
                    <p>Por BUCARAMANGA: Carlos Pérez Villabona, Félix Hurtado Trujillo, Luis Jesús Vesga Rondón, Enrique
                        Ramírez, Ciro A. Murillo, José Ángel Niño Rodríguez, Noe Manosalva Suárez, José Iván Martínez,
                        Cecilia García Durán, por BARRANCABERMEJA:
                        Rafael Rodríguez V., Luis F. Pico A., Julio Cesar Díaz, Jorge Garnica Rueda, por BARBOSA:
                        Joaquín Torres Rueda, Carlos Martínez, por TERMOBARRANCA: Edgar Bedoya Madrigal, por
                        INTERCONEXION DEL NORDESTE: Pedro Antonio Soler,
                        Alfredo Ruiz, Heriberto Sarmiento, Antonio Jiménez, Luis Granda, Ernesto Bayona, Bernardo
                        Ramírez, Samuel Cifuentes, José Carreño, Camilo Sierra, Manuel E. Arciniegas, por CENTRALES
                        ELECTRICAS DEL NORTE DE SANTANDER: Jorge
                        Enrique Gallador, Teodoro Ramírez Jurado, Alirio Alfonso Contreras, Juan Rey, por ENERGIA
                        ELECTRICA DE CHIQUINQUIRA: Ciervo Tulio Delgado, Ángel Eduardo Domínguez.</p>
                    <h2>A DEMOSTRAR LAS BONDADES DE LA UNIDAD<br></h2>
                    <p>Una vez creado Sintraelecol, viene la etapa más difícil, que consistió en demostrar las bondades
                        de la unidad y las garantías del sindicalismo de industria. Estos dos propósitos aparentemente
                        resultan muy fáciles de difundir, pero
                        por aquellos años el sindicalismo estaba demasiado "ideologizado" y no era comprensible el que
                        en un sindicato primara el pluralismo, es decir, que coexistieran trabajadores liberales,
                        conservadores, comunistas y demás. Era
                        requisito casi si ne qua non para ser directivo sindical, estar al margen de los partidos
                        tradicionales.</p>
                    <p>Fue la época en que el sindicalismo era "correa de transmisión" de los partidos o movimientos
                        políticos de izquierda y donde se aplicaban expresamente en el sindicato, las orientaciones que
                        se dieran partidariamente.</p>
                    <p>Estas y otras dificultades hicieron pensar a muchos compañeros que era una utopía alcanzar
                        nuestro objetivo y por tanto, el escepticismo estuvo al orden del día.</p>
                    <p>Fueron años difíciles por cierto, pero algunos dirigentes con optimismo y fe de carbonero, me
                        acompañaron en este propósito y logramos mancomunadamente superar los obstáculos, que cada día
                        parecían insalvables.<br></p>
                    <p>Juan Alvarado, Gilberto Gamboa, José Ángel Amador, Reynaldo Gómez, Gerardo Rodríguez, Edgar
                        Bedoya, Salomón Palacios, Álvaro Franco, Álvaro Cortés, José Iván Martínez, Eliceo Rodríguez,
                        Manuel Sandoval, Carlos José Lara, Luis Alfredo
                        Amaya, Gilberio Pardo, Pedro Ramírez, Edisson Gamez, Luis Gutiérrez, Edgar Manuel Ramírez, Hugo
                        Sánchez, Franklin Legro, Orlando Ferruscho, Francisco Pérez, Francisco Gómez, Ramón Mojica,
                        Isaías Torres, González Jiménez, Freddy
                        Leal, León Martínez, Jorge Ortiz, Benjamín Sierra, Cesar Romero y Miguel Flórez, son los
                        dirigentes, entre muchos otros, los que contribuyeron positivamente a materializar el sueño,
                        después de soportar arduas discusiones "ideológicas",
                        en las que debatíamos, hasta cómo administraríamos el estado cuando no lo tomáramos, y en
                        agotadoras jornadas donde el sectarismo más craso era la nota predominante, convertíamos algunos
                        encuentros del sector eléctrico en disputas
                        que sobrepasaban el tinte ideológico y llegaban a la agresión verbal.<br></p>
                    <p>Afortunadamente nuestros cuadros sindicales nunca cayeron en la provocación y a cambio de
                        discursos presentábamos propuestas escritas, que nos fueron diferenciando y ganando cada día en
                        nuestro accionar.<br></p>
                    <h2>ITINERARIO HACIA EL FORTALECIMIENTO<br></h2>
                    <p>Nacido SINTRAELECOL, empezamos el itinerario de los encuentros del sector eléctrico, encaminados
                        hacia el fortalecimiento de nuestro sindicato. El primero fue en Manizales del 6 al 8 de Junio
                        de 1975; luego en Bucaramanga del 7
                        al 11 de noviembre de 1975, ya Sintraelecol con personería Jurídica; siguió Ibagué del 25 al 28
                        de noviembre de 1977, Bucaramanga convocó el 13 y 14 de octubre de 1978 y repitió del 10 al 12
                        de mayo de 1979; Cali lo hizo el
                        16 y 17 de mayo de 1980 y del 8 al 12 de octubre del mismo año; de nuevo Ibagué realizó un
                        encuentro del 8 al 21 de julio de 1981 y Barrancabermeja del 22 al 25 de Agosto de 1981; Cúcuta
                        estuvo presente del 9 al 11 de octubre
                        de 1981; Manizales una vez más lo realizó del 3 al 5 de septiembre de 1982; Bogotá lo hizo del
                        13 y 14 de agosto de 1983, también 15 y 16 de septiembre de 1984; Bucaramanga del 14 al 16 de
                        febrero de 1985; Ibagué el 8 y 9 de
                        marzo de 1985 y Bucaramanga finalizó este recorrido del 12 al 15 de febrero de 1986, evento en
                        el que prácticamente se concretó el proceso unitario y se convocó a la Asamblea Nacional de
                        Delegados del 5 al 8 de Agosto de 1987,
                        fecha que partió en dos la historia de Sintraelecol y empezó la segunda etapa.<br></p>
                    <p>No sobra advertir que en el Sexto Encuentro Eléctrico en Cali se creó una coordinadora eléctrica
                        que dinamizó al máximo este proceso unitario<br></p>
                    <p>Hasta aquí puedo decir que Sintraelecol representa para mí 12 años de lucha, para muchos
                        incomprendida. Lo vi nacer y crecer; sin duda, su proceso de crecimiento tuvo tropiezos, pero
                        salió adelante. Para ello, el apoyo económico
                        y logístico de la Seccional Bucaramanga fue básico; sin él, Sintraelecol no hubiera pasado su
                        período de prueba. Pero, aquellos años contaron con una obsesión casi demente por sacarlo
                        avante, logrando rebasar las dificultades,
                        las calumnias o infamias que los escépticos del proceso no vacilaban en poner<br></p>
                    <p>A cambio de la unidad, entregamos el control total de Sintraelecol, limitándonos a la fiscalía;
                        nos desafiliamos de Fenaltrase y trasladamos la sede principal para Bogotá, requisitos estos
                        acordados, previo a la Asamblea Nacional
                        de Delegados, para que todos los trabajadores del sector eléctrico, se nuclearan en torno a
                        Sintraelecol.<br></p>
                    <p>A cambio de la unidad, entregamos el control total de Sintraelecol, limitándonos a la fiscalía;
                        nos desafiliamos de Fenaltrase y trasladamos la sede principal para Bogotá, requisitos estos
                        acordados, previo a la Asamblea Nacional
                        de Delegados, para que todos los trabajadores del sector eléctrico, se nuclearan en torno a
                        Sintraelecol.<br></p>
                    <h2>SE INICIA LA SEGUNDA ETAPA<br></h2>
                    <p>El trabajo que hicimos a lo largo y ancho de la geografía nacional, fue tan intenso y tan
                        fructífero y la influencia de Sintraelecol en todas las bases del sector eléctrico tan
                        arrolladora, que presionó a algunos dirigentes, vacilantes
                        del proceso, a la unidad al rededor de Sintraelecol, so pena de ser inferiores a la exigencia de
                        los trabajadores<br></p>
                    <p>A esta altura, Sintraelecol por sí solo crecía y ganaba nuevos y buenos defensores, entre los que
                        recuerdo: Luis Eduardo Castellanos, Fany Zafra, Nelson Carlos González, Máxine Polo, Jorge
                        Forero, Ernestina Mahecha, Lucia Lozano,Miryam
                        Ovando, Aura Cecilia Arciniegas, Jesús Romero, Wilson Rincón, Miguel Caicedo, Alex Iván Ortiz,
                        Antonio José Caicedo, José Luis Guevara, Eloy Montiel, Benigno Rincón, Jorge Freja, Miguel
                        Ortega, Giovani Cardozo, Rubén Castro,
                        Jorge Rivera, Gerónimo Mestra, Pedro Tordecilla, Antonio Acosta, Gaspar Gúzman, Nohora Santos,
                        Luis Gonzaga, Martín Contreras, Hiro Stalin Narvaez, Omar Garzon, Diogenes Lozano y Javier
                        Cano.<br></p>
                    <p>Fue así como llevamos a cabo una Asamblea Nacional de Delegados del 23 al 26 de Abril de 1986,
                        que sobrepasó el marco geográfico de los Santanderes, Boyacá, César y Nariño. Su Junta Directiva
                        se fortaleció por primera vez, con
                        la presencia de delegados de Atlántico, Sucre, Bolívar, Córdoba, Caldas, Valle, Tolima,
                        Cundinamarca y Huila. <br><br>Era tal la dinámica que el 10 de julio de 1987, presenté el pliego
                        a Corelca, en medio del entusiasmo de
                        los trabajadores y de la resistencia de no poco dirigentes, que veían este pliego como un error.
                        Es bueno señalar, que de tiempo atrás los compañeros León Martínez, Alberto Giraldo, José
                        Medrano y Julio Carrascal, se habían
                        encargado de difundir y concientizar a los trabajadores sobre lo que significaba el sindicalismo
                        de industria, razón por la cual Sintraelecol y el pliego a Corelca cundió con tanto arraigo
                        popular.&nbsp;<br></p>
                    <p><strong>PERDIMOS LA PERSONERIA JURIDICA </strong><br><br>Vino entonces la exitosa Asamblea
                        Nacional de Delegados, realizada en Bogota del 4 al 8 de agosto de 1987, que centralizo
                        definitivamente a los trabajadores del sector eléctrico,
                        llenándonos de ánimo y motivación. Pasamos de 1800 a 10.000 afiliados, hecho que deslumbró a
                        muchos sindicalistas, llevándolos a cometer todo tipo de exageraciones y con motivo de algunos
                        sucesos acaecidos, producto del paro
                        cívico del 27 de octubre de 1987, se suspendió la Personería Jurídica de Sintraelecol, generando
                        un caos organizativo a nuestro interior, que puso en peligro la unidad naciente que hacía no más
                        de 90 días se había concretado.<br><br>Esta
                        preocupante situación exigió que recurriéramos a enormes iniciativas que apuntaban a devolver la
                        normalidad legal al Sindicato. Fue así como logramos realizar un evento nacional sindical en el
                        auditorio del Ministerio de Minas
                        y Energía, con la presencia del ministro del ramo, los gerentes de <strong>ICEL</strong> y
                        <strong>Corelca</strong>, el presidente de la <strong>CUT</strong>, de
                        <strong>UTRAMMICOL</strong> y por supuesto de un grupo de dirigentes
                        sindicales de Sintraelecol que pasaba de 80.<br><br>En este certamen levantamos un acta en la
                        que el gobierno reconoció que nuestra participación en el paro cívico se dio dentro de los
                        parámetros que la constitución nos permitía
                        para la protesta ciudadana y además dimos los primeros pasos para la negociación nacional, ya
                        que definimos que Sintraelecol se entendería con Corelca para encontrar soluciones relacionadas
                        con la problemática que tuvieran
                        los trabajadores de la Costa y con ICEL, lo correspondiente al interior del país. <br>Esta acta
                        fue un verdadero éxito, que contribuyó en gran medida a la solución positiva de los múltiples
                        procesos que se adelantaban contra
                        los dirigentes y trabajadores despedidos y algunos retenidos con motivo del paro cívico y la
                        suspensión de la Personería Jurídica. También debo afirmar que fue un bastión indudable en la
                        recuperación de la personería jurídica
                        de Sintraelecol.&nbsp;<br></p>
                    <p><strong>DIFICULTADES PARA ACOMPASAR EL RITMO</strong><br><br>Pese al restablecimiento de la
                        personería jurídica, Sintraelecol permanecía resentido organizativamente. Benigno Rincón y
                        Alberto Giraldo, Presidente y Secretario General
                        respectivamente hacían ingentes esfuerzos por acompasar de nuevo el ritmo de Sintraelecol con el
                        que traía y al que imponía el veloz fluir de los acontecimientos. Fue este momento el que me
                        motivó el primero de noviembre de
                        1988 a dirigirles una carta en la que entre otras cosas afirmé: <br>"Retomando los hilos de mi
                        preocupación sobre lo que domino la desdibujación o desencause de Sintraelecol llamo la atención
                        sobre los siguientes aspectos.<br><br>Cuando
                        hablé de "organizar la unidad", lo hice con el propósito de encarar esta tarea con mucha
                        responsabilidad, ya que para el actual periodo se torna básico.<br><br>Debemos iniciar en cada
                        departamento, reuniones con los delegados
                        y Juntas Directivas seccionales, a fin de adecuar un plan objetivo y corregir las fallas
                        organizativas.<br><br>Hay que evitar que Sintraelecol se convierta en una organización
                        exclusivamente electoral; es decir, un sindicato
                        de los elegidos para quienes la política no es política, no es optar ni es cambiar, sino que es
                        administrar el consenso rutinario. Además, el incumplimiento del programa o plan del gobierno,
                        está demostrando que infortunadamente,
                        los elegidos representan más su fuerza política y a sus electores, que a sus afiliados o
                        trabajadores, perjudicando enormemente al socio, al trabajador y a la propia organización
                        sindical.<br><br>Esta situación debe enmendarse
                        rápido evaluando periódicamente el plan y recorriendo constantemente al plebiscito, referéndum o
                        consulta, para que no solo nuestros afiliados, sino también los trabajadores, opinen sobre
                        aspectos de interés general y hagamos
                        de ellos actores protagónicos de nuestro accionar.<br><br>En este sentido retomemos los
                        criterios organizativos y políticos Analizados para la presentación del Pliego
                        Nacional.<br><br>En aquella oportunidad dijimos que debíamos
                        ir de la periferia al centro y que no podíamos cometer el error de presentar el pliego en frío.
                        Sin embargo, poco se ha hecho en dicha óptica. <br>El contenido del pliego amerita,
                        obligatoriamente, la reactivación de las tareas
                        acordadas, como premisa indispensable para garantizar el éxito del mismo.<br><br>Por lo tanto,
                        los encuentros fronterizos de unidad en Panamá, Perú, Ecuador, Venezuela y Brasil, son
                        perentorios; la reunión en México con las
                        asociaciones sindicales de América Latina, para lograr el Pliego Único a presentar en cada país,
                        es decisiva; el encuentro mundial con los sindicatos del sector energético a realizarse en
                        Bogotá, con la presencia de la OIT,
                        es trascendental; las reuniones con los directorios de todos los partidos políticos, gremios,
                        organizaciones de masas y comunidades religiosas, para dialogar sobre el contenido del pliego,
                        son necesarias; los paneles de discusión
                        sobre las necesidades eléctricas de los 1009 municipios colombianos, deben adelantarse con los
                        Alcaldes y Concejales, a fin de elaborar planes de desarrollo locales, para unirlos en un plan
                        departamental y definir una propuesta
                        nacional, esto es básico; pero para la dinamización de este plan, las seccionales tienen la
                        obligación de cumplir. Sólo eso cumplir.<br><br>Anexo a lo anterior, realizaremos las llamadas
                        "cartas técnicas" y haremos foros de
                        cara a las empresas sobre nuestras propuestas en materia técnica, laboral y administrativa.
                        Necesitamos demostrar que somos un sindicato interesado en el bienestar de los trabajadores, de
                        las empresas y de la República. Hasta
                        ahora sólo Santander, Norte de Santander, Nariño y Tolima, han elaborado las cartas en
                        referencia.<br><br>En materia de propaganda estamos fallando enormemente y ustedes saben que el
                        nivel organizativo de una entidad se mide,
                        sobre los medios de comunicación que mantengan la constante y oportuna información a los
                        asociados.<br><br>Y que decir de la educación. Determinante en nuestra obra, pero olvidada en
                        nuestra acción. Desde hace meses se les
                        pasó a todas las secciónales un proyecto para su análisis y discusión, sin que hasta la presente
                        hayamos tenido respuesta alguna.<br><br>Otra historia es el manejo de las diferentes secretarías
                        establecidas, que brillan por
                        su incompetencia e iniciativa. Lógicamente que la falta de recursos humanos y las dificultades
                        financieras han contribuido para que <strong>SINTRAELECOL</strong>, no se haya apersonado
                        eficientemente de su labor, pero no podemos
                        justificar su pérdida de protagonismo bajo ninguna circunstancia.<br><br><strong>COMO SURGIO EL
                            PLIEGO UNICO</strong><br><br>Como podrán notarlo, al tiempo que victoreamos la unidad en
                        torno a Sintraelecol, ya pensábamos desde
                        antes de alcanzarla, que sólo la unidad no bastaba para definirnos como Sindicato de Industria,
                        sino que era indispensable el Pliego Único Nacional como la herramienta que nos daría la
                        personalidad real de Sindicato de Industria.<br>&nbsp;&nbsp;<br>Así
                        surgió la presentación del primer Pliego Único, que empezaba con el no pago de la deuda externa,
                        la nacionalización de los recursos naturales, la estabilidad plena y absoluta entre otros
                        puntos. <br>El contenido de este pliego
                        reflejó nuestra insensatez, al pretender trasladar las plataformas político-partidarias al
                        sindicato, lo que nos alejó del sentimiento inmediato de los afiliados que no se sentían
                        representados en sus aspiraciones. Este Pliego
                        fue archivado por el gobierno de Julio Cesar Turbay. <br>Vino luego el segundo, al gobierno de
                        Belisario Betancourt, quien ordenó a su Secretario General, Víctor G. Ricardo concedernos una
                        audiencia. Ahí paro todo.<br><br>El
                        tercer pliego fue al Presidente Virgilio Barco, el que también fue engavetado. <br>El cuarto se
                        presentó en el gobierno de Cesar Gaviria al Ministro de Minas, Dr. Luis Fernando Vergara
                        Munárriz, en un momento de aplicación
                        del modelo neoliberal, que trae consigo la deslaborización y el que concibe el problema laboral
                        sólo como un factor económico y una variable necesaria de su programa.<br><br>Este pliego fue
                        devuelto a los 10 minutos de presentado,
                        pero la sólida e incontrovertible posición jurídica, acompañada por una diaria labor diplomática
                        y una constante movilización, hicieron posible, por primera vez en la historia del sector
                        eléctrico, discutir el pliego presentado.<br><br>Aquí
                        es necesario referir que el avance logrado en el cuarto pliego único, no hubiera sido posible
                        sin la decisión que tomó SINTRAENERGIA BOGOTA y la participación de sus bases en las tareas
                        programadas; por eso, la historia registrará
                        que Sintraelecol abrió el camino de la negociación nacional por rama específica, pero que
                        Sintraenergía Bogotá fue indispensable para ello.<br><br>La Coyuntura histórica en que se
                        desarrolló este pliego único, se caracterizó
                        por la implementación del capitalismo salvaje, en concordancia con el modelo neoliberal del
                        presidente Gaviria y en aplicación de los ordenamientos de la banca multilateral, lo que de por
                        sí evidencia las enormes dificultades
                        para la negociación, en razón a que el pliego Único está en contravía de dicha política.
                        <br>Caracterizado el momento histórico, se entendió la urgencia de la preparación de las bases,
                        motivo por el que definimos como consigna
                        central, "la movilización consciente de nuestros afiliados". fue así como elaboramos tres
                        folletos de formación. El primero, sobre los beneficios sociales del pliego; el segundo, cómo
                        organizar las ligas de usuarios y el tercero,
                        la sustentación técnica y jurídica del pliego.<br><br>Estas herramientas de trabajo crearon la
                        conciencia necesaria para que los trabajadores participaran masivamente en las tomas que se
                        hicieron del ICEL y del Ministerio del
                        Trabajo, las marchas de antorchas, las jornadas de brazos caídos, las manifestaciones públicas,
                        y las acciones internacionales en los puentes de Rumichaca, en la frontera Ecuatoriana; Simón
                        Bolívar, en la Frontera Venezolana
                        y el Pumarejo en Barranquilla. Podemos decir entonces, que si algo caracterizó el cuarto pliego
                        único nacional fue la movilización, que siempre estuvo presente para la concertación. <br>Este
                        pliego fue exitoso y generó un importante
                        acumulado histórico que es la base sustancial para que el Quinto Pliego Único Nacional, fuera
                        sencillamente extraordinario, porque los objetivos propuestos se
                        alcanzaron.<br><br><strong>SOMOS DE VERDAD SINDICATO DE INDUSTRIA</strong> <br><br>Debo recordar
                        que algunos compañeros y dirigentes no entendieron y minimizaron el acuerdo anterior, además
                        trataron de influir para que en el año de 1993, regresáramos a los Pliegos por empresa, creando
                        en la base una
                        apatía hacia el Pliego Único asociándolo con ausencia de condiciones y atemorizando a los
                        trabajadores con la penalización de la acción social.<br><br>Afortunadamente la directiva
                        nacional de SINTRAELECOL con convicción demostró
                        su influencia en la base y logró aprobar el Quinto Pliego Único, para consolidar el sindicalismo
                        de industria e impedir la presentación de los contra pliegos, que ya tenían preparados los
                        empleadores. <br><br>Aquí es bueno
                        informar que a los escépticos se le unieron algunos empresarios, que en coro coincidían en
                        impedir la negociación nacional rebuscando argumentos trasnochados. <br>En el Pliego anterior se
                        nos dijo que estábamos plegados a la
                        "legalidad burguesa" y ahora se nos dice que el "Pliego está por fuera de la legalidad jurídica
                        y que perdimos el fuero circunstancial". Es decir, palo porque bogas y palo porque no
                        bogas.<br><br>Lo cierto es que el Quinto
                        Pliego es histórico, porque demostró la validez de <strong>SINTRAELECOL</strong> y señaló el
                        camino de la contratación por rama de industria o sector específico. Además lo consolidó como el
                        <strong>INTERLOCUTOR UNICO Y VALIDO DE LOS TRABAJADORES DEL SECTOR
                            ELECTRICO.</strong><br><br><strong>SEGUIR CON EL LEGADO</strong><br><br>En
                        1995, tiempo en el que celebramos 20 años de lucha, <strong>SINTRAELECOL</strong> no puede ser
                        inferior al legado histórico de quienes lo crearon y de los que contribuimos a su éxito. Por
                        tanto, el Pliego Único a presentar
                        próximamente en medio de nuestra celebración, será un homenaje a quienes aportaron en la que fue
                        una construcción colectiva y que hoy ejemplariza a los trabajadores colombianos. <br>Ahora con
                        el acuerdo tripartito, producto
                        del pacto social, se posibilita aún más, la negociación por rama de industria hecho este que
                        obliga al conjunto del movimiento obrero a estar a la altura de <strong>SINTRAELECOL</strong> y
                        a presentar sus pliegos únicos.<br><br>Cumplidos
                        20 años, empieza la tercera etapa de Sintraelecol en la que los dirigentes de hoy, no pueden ser
                        inferiores ni al legado histórico, ni a los compromisos presentes, como tampoco a las
                        dificultades que nos deparará el futuro.&nbsp;<br></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock  %}