
{% extends  'base/base.html' %}

{% load static %}
{% block content %}
    <main class="page project-page">
        <section class="portfolio-block project">
            <div class="heading">
                <h3>JUNTA DIRECTIVA NACIONAL</h3>
            </div>
            <div class="container">
                <div>
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">DOCUMENTO</a></li>
                    </ul>
                    <div class="tab-content" style="height:220px;">
                        <div class="tab-pane active" role="tabpanel" id="tab-1">
                            <p></p>
                            <div class="col"><i class="icon ion-checkmark-round" style="color:rgb(73,130,88);"></i><a href="{% static 'formatos_tmp/CIRCULAR NACIONAL JUNTA DIRECTIVA DINAL.pdf' %}">&nbsp;Circular Nacional Junta Directiva DINAL</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% endblock %}